.text-center {
  margin: 1em auto;
  text-align: center;
  padding-bottom: 0.5em;
}
label {
  display: block;
  padding-bottom: 1em;
}
input, select {
  width: 100%;
  min-height: 20px;
  margin-top: .5em;
  margin-bottom: .5em;
}
form {
  width: 60vw;
  margin: 0 auto;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
.textarea {
  width: 100%;
  min-height: 100px;
}

